<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center white-color dark-transparent-bg">
        <h1>Discover &amp; book beauty appointment</h1>
        <h3>Anytime, Anywhere</h3>
        <br>
        <button class="btn btn-dark btn-lg" (click)="openHowItWorks()">How it works</button>
        
        <!-- search box -->
        <div class="container" id="home-search-panel">
            <div class="row">
                <div class="col-md-5">
                    <input type="text" class="form-control" id="service" placeholder="What would you like to book">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="location" placeholder="Location">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="date" placeholder="Date">
                </div>
                <div class="col-md-1">
                    <button class="form-control btn btn-success">Find &amp; Book</button>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>#GorgeousLook</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="portfolio-item img-restrict-wrapper-col-4">
                    <img class="img-portfolio img-responsive" src="img/samples/1.jpg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-item img-restrict-wrapper-col-4">
                    <img class="img-portfolio img-responsive" src="img/samples/2.jpg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-item img-restrict-wrapper-col-4">
                    <img class="img-portfolio img-responsive" src="img/samples/3.jpg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-item img-restrict-wrapper-col-4">
                    <img class="img-portfolio img-responsive" src="img/samples/4.jpg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-item img-restrict-wrapper-col-4">
                    <img class="img-portfolio img-responsive" src="img/samples/5.jpg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-item img-restrict-wrapper-col-4">
                    <img class="img-portfolio img-responsive" src="img/samples/6.jpg">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <button class="btn btn-default">Check out look book</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h3>Are you a beauty service provider?</h3>
        <button class="btn btn-default">Join Us</button>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Stylists</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <h3>About Us</h3>
                <p>Gorgeous is platform for beauty service professionals and customers. Professionals can better manage their bookings with our app. Customers enjoy the convenience of finding new style, discovering best stylists in neighbourhood and booking appointments.</p>
            </div>
            <div class="col-md-4 text-center">
                <h3>Gorgeous</h3>
                <ul class="list-inline">
                    <li>
                        <a href="#">Our Story</a>
                    </li>
                    <li>
                        <a href="#">Get Listed</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Terms &amp; Conditions</a>
                    </li>
                </ul>
                <h4>Talk To Us</h4>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i>8888 6666</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h3>Find Us On</h3>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>