<div class="dark-transparent-overlay text-vertical-center" [style.display]="isPanelVisible ? 'block' : 'none'" (click)="hidePanel()">
</div>

<div class="text-vertical-center" [style.display]="isPanelVisible ? 'table-cell' : 'none'">
<div id="loginPanelWell" class="container" >
	<div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 well">
		<button class="btn btn-primary form-control" >
			Login with Facebook
		</button>
		<hr>
		<input type="email" class="form-control" placeholder="email" [(ngModel)]="email"/>
		<input type="password" class="form-control" placeholder="password" [(ngModel)]="password"/>
		<button class="btn btn-success form-control" (click)="loginWithEmail()">Login</button>
	</div>
</div>
</div>